@{
    ViewBag.Title = "Nosotros";
}
<h2>@ViewBag.Title.</h2>

<div class="media">
    <div class="media-left media-middle">
        <a>
            <img class="media-object" src="~/assets/img/imgNosotros.jpg" width="500" height="325"/>
        </a>
        
    </div>
    <div class="media-body media-middle">
        <h2 class="media-heading" style="text-align: center">Expertos veterinarios para su mascota</h2>
        <blockquote>
            <p>
                ¡Bienvenidos a nuestra web! Somos Clínica Veterinaria “VETCARE”, un centro de atención conformado por expertos veterinarios, cuya filosofía de trabajo se refleja en el lema “siempre pensando en el bienestar de su mascota”.  Tenemos 10 años de trayectoria.
                En nuestra veterinaria, brindamos un trato personalizado a todos los clientes y, como campaña permanente, tratamos de educar al propietario para que mejore las relaciones con su mascota, le brinde los cuidados apropiados y así exista entre ambos una perfecta armonía.
            </p>
        </blockquote>
        
    </div>
</div>

<div class="media">
    <div class="media-body media-middle">
        <blockquote>
            <p>
                Por estas razones y mucho más, lo invitamos a que visite nuestra página web para que conozca más acerca de los servicios que ofrecemos.
                Lo esperamos en nuestra clínica veterinaria en el tradicional distrito de Magdalena del Mar.
            </p>
        </blockquote>
    </div>
    <div class="media-right media-middle">
        <a>
            <img class="media-object" src="~/assets/img/imgNosotros2.jpg" width="400" height="275" />
        </a>

    </div>
</div>
