@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h2>Datos para el Contacto</h2>
<hr />


<div class="col-md-6">
    <div class="form-group">
        <label for="NombreContacto">Nombre:</label>
        <input type="text" class="form-control" id="NombreContacto" placeholder="Tu nombre aquí">
    </div>

    <div class="form-group">
        <label for="EmailContacto">Email:</label>
        <input type="email" class="form-control" id="EmailContacto" placeholder="Tu email aquí">
    </div>

    <div class="form-group">
        <label for="TelefonoContacto">Teléfono:</label>
        <input type="tel" class="form-control" id="TelContacto" placeholder="Tu teléfono aquí">
    </div>

    <div class="form-group">
        <label for="DetalleContacto">Detalle:</label>
        <input type="text" class="form-control" id="ObsContacto" placeholder="Cuentános porque debemos contactarte">
    </div>

    <div class="form-group">
        <input type="submit" value="Contactame" class="btn btn-primary" />
    </div>
</div>
<div class="col-md-6">
    <img src="~/assets/img/vet-logo.png" width="350" height="350" />
</div>

